* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    display: flex;
    padding: 12px 120px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    margin-right: auto;
}

.header-links {
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    gap: 32px;
    padding: 48px 120px;
}

.hero-main {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}

.hero-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-text {
    color: #e5e7eb;
    font-size: 18px;

}

.hero-button {
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 18px;
    border: none;
    border-radius: 15%;
}

.hero-image {
    height: 434px;
    width: 650px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 48px 0 96px 0;
}

.info-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.info-cards {
    display: flex;
    gap: 32px;
}

.info-card {
    width: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.info-image {
    height: auto;
    width: 200px;
    border-radius: 15%;
}

.info-text {
    font-size: 16px;
}